@media (min-width: 1536px) {
    .container {
        max-width: 1179px;
    }
}

body {
    scroll-behavior: smooth;
    height: 100%;
    background: #3AAFA9;
    font-family: Poppins;
}
* {
    font-family: Poppins;
    box-sizing: border-box;
}
#custom_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #DEF2F1;
    border-radius: 10px;
    box-shadow: 0 0 0 10px #DEF2F1; /* this draws the table border   */
}

#custom_table td, #custom_table th {
    border: 1px solid #172529;
    padding: 8px;
}

#custom_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #172529;
    color: #feffff;
    text-align: center;
}
