* {
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
	height: 100%;
	background: #3AAFA9;
	/*font-family: monospace;*/
	color: #FEFFFF;
	/* For browsers that do not support gradients */
	background-image: linear-gradient(270deg, #172529, 20%, #3AAFA9);
	color: #FEFFFF;
}

/* Add styles to the form container */
.form-container {
	max-width: 400px;
    border-style: groove ;
	border-color: #FEFFFF; 
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
	border-radius: 10px;
	color: #000;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus
	{
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
	max-width: 100%;
	background-color: #3AAFA9;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.8;
	border-radius: 10px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}

/*
	color pallette
	background: #172529;
	background: #2B7A78;
	background: #3AAFA9;
	background: #DEF2F1;
	background: #FEFFFF;
*/

.center {
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 400px) {
  .form-container {
    max-width: 325px;
  }
	body,html {
		background-image: linear-gradient(270deg, #172529, 43%, #3AAFA9);
	}
}
